.modalBackground {
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 60%);
    position: fixed;
    overflow-y: auto;
}

.modalContainer {
    display: grid;
    grid-template-rows: 1fr 25rem 1fr;
    background-color: var(--background);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 65%;
    border: 1px solid gray;
    width: 90%;
    height: min-content;
    transform: translate(5.75%, 16.5%);
}

.modalContainer .title {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0.5rem;
    color: var(--foreground);
    background-color: var(--background);
    border-bottom: 1px solid gray;
}

.modalContainer .body {
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.modalContainer .body img {
    border: 1px solid var(--foreground);
}

@media screen and (max-width: 851px) {
    .modalContainer .body {
        flex-direction: column;
        overflow-y: scroll;
        align-items: center;
        justify-content: initial;
    }

    .modalContainer .body img {
        margin-bottom: 0;
        max-width: 75%;
        max-height: 90%;
    }
}

@media screen and (min-width: 852px) {
    .titles-books {
        overflow-y: auto;
    }

    .modalContainer .body img {
        margin-right: 0;
    }
}

.modalContainer .body::-webkit-scrollbar,
.titles-books::-webkit-scrollbar,
.modalBackground::-webkit-scrollbar {
    width: 0.5rem;
}

.modalContainer .body::-webkit-scrollbar-track,
.titles-books::-webkit-scrollbar-track,
.modalBackground::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: var(--background);
    /*border: 1px solid #464646;*/
}

.modalContainer .body::-webkit-scrollbar-thumb,
.titles-books::-webkit-scrollbar-thumb,
.modalBackground::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #464646;
}

.modalContainer .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-top: 1px solid gray;
}

/*.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
    padding-left: 0.5rem;
}

.titleCloseBtn button {
    font-size: 0.3rem;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}*/
