.modal-background {
    top: 3.65rem;
    right: 0;
    width: 100vw;
    height: calc(100% - 3.65rem);
    background-color: rgb(0 0 0 / 60%);
    position: fixed;
    overflow-y: auto;
}

.modal-container {
    display: grid;
    grid-template-rows: 1fr 25rem 1fr;
    background-color: transparent;
    min-height: 65%;
    width: 90%;
    height: min-content;
    transform: translate(5.75%, 15%);
}

.modal-container .title {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0.5rem;
    color: var(--foreground);
    background-color: var(--background);
    border: 1px solid gray;
}

.modal-container .body {
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color: var(--background);
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
}

.modal-container .body img {
    border: 1px solid var(--foreground);
}

.footer-gap {
    background-color: transparent;
    height: 5rem;
}

@media screen and (max-width: 851px) {
    .modal-container {
        transform: translate(5.75%, 10%);
    }

    .modal-container .body {
        flex-direction: column;
        overflow-y: scroll;
        align-items: center;
        justify-content: initial;
    }

    .modal-container .body img {
        margin-bottom: 0;
        max-width: 75%;
        max-height: 90%;
    }
}

@media screen and (min-width: 852px) {
    .titles-books {
        overflow-y: auto;
    }

    .modal-container .body img {
        margin-right: 0;
    }
}

.modal-container .body::-webkit-scrollbar,
.titles-books::-webkit-scrollbar,
.modal-background::-webkit-scrollbar {
    width: 3px;
    z-index: 50;
}

.modal-container .body::-webkit-scrollbar-track,
.titles-books::-webkit-scrollbar-track,
.modal-background::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: var(--background);
    /*border: 1px solid #464646;*/
    z-index: 50;
}

.modal-container .body::-webkit-scrollbar-thumb,
.titles-books::-webkit-scrollbar-thumb,
.modal-background::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #464646;
    z-index: 50;
}

.modal-container .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--background);
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

/*.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
    padding-left: 0.5rem;
}

.titleCloseBtn button {
    font-size: 0.3rem;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}*/
