@import "tailwindcss";

:root {
    --background: #fff;
    --foreground: #000;
}

#root {
    height: 100dvh;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000;
        --foreground: #fff;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

body.modal-open {
    overflow: hidden;
}

.primary-button {
    padding: 0.75rem;
    border-radius: 0;
    border: 1px solid var(--foreground);
    background-color: #171717;
    color: white;
    min-height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.borderless-primary-button {
    padding: 0.75rem;
    border-radius: 0;
    border: 1px dotted gray;
    background-color: var(--background);
    color: var(--foreground);
    min-height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.secondary-button {
    padding: 0.5rem;
    border-radius: 0;
    border: 1px solid var(--foreground);
    background-color: transparent;
    color: var(--foreground);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.primary-input {
    padding: 1rem;

    /* border-radius: 0; */
    border: 1px solid gray;
    background-color: var(--background);
    color: var(--foreground);
}

.container-with-border {
    border: 1px solid gray;
}

.primary-button:active,
.secondary-button:active,
.primary-input:focus,
.nav-link:active,
.borderless-primary-button:active {
    outline: 5px solid #fcd34d;
}

.animate {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.animate-fast {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.25s;
    animation-fill-mode: backwards;
}

.animate-faster {
    animation-duration: 0.2s;
    animation-name: animate-fade;
    animation-delay: 0s;
    animation-fill-mode: backwards;
}

.animate-no-transform {
    animation-duration: 0.5s;
    animation-name: animate-fade-no-transform;
    animation-delay: 0s;
    animation-fill-mode: backwards;
}

.with-opacity-transition {
    transition: opacity 0.3s ease-in-out;
}

@keyframes animate-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animate-fade-no-transform {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.big-loader-foreground {
    border: 5px solid var(--foreground);

    /* Light grey */
    border-top: 5px solid transparent;

    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

.loader-foreground {
    border: 2px solid var(--foreground);

    /* Light grey */
    border-top: 2px solid transparent;

    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

.loader-background {
    border: 2px solid var(--background);

    /* Light grey */
    border-top: 2px solid transparent;

    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

.loader-white {
    border: 2px solid white;

    /* Light grey */
    border-top: 2px solid transparent;

    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

.loader-red {
    border: 2px solid red;

    /* Light grey */
    border-top: 2px solid transparent;

    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-bar {
    position: relative;
    min-height: 8px;
    overflow-x: hidden;
    scrollbar-width: none;
    color: white;
}

.loader-bar::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    min-height: 8px;
    background-color: rgb(11 11 11 / 50%);
}

.loader-bar::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 130px;
    min-height: 8px;
    background-color: orange;
    animation: load 3.5s linear infinite;
}

.loader-bar-fast {
    position: relative;
    min-height: 8px;
    overflow-x: hidden;
    scrollbar-width: none;
    color: white;
}

.loader-bar-fast::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    min-height: 8px;
    background-color: rgb(11 11 11 / 50%);
}

.loader-bar-fast::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 130px;
    min-height: 8px;
    background-color: orange;
    animation: load 1.3s linear infinite;
}

.loader-bar-fast-red {
    position: relative;
    min-height: 8px;
    overflow-x: hidden;
    scrollbar-width: none;
    color: white;
}

.loader-bar-fast-red::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    min-height: 8px;
    background-color: rgb(11 11 11 / 50%);
}

.loader-bar-fast-red::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 130px;
    min-height: 8px;
    background-color: red;
    animation: load 1.3s linear infinite;
}

@keyframes load {
    0% {
        left: -50%;
        width: 20%;
    }

    50% {
        left: 50%;
        width: 40%;
    }

    100% {
        left: 150%;
        width: 60%;
    }
}
